body{
  background-color: #E3DAC9;
}

#container h4{
  font-size: 36px;
  font-weight: bold;
  
}

.cardLocal {
  display: flex;
  margin: 0 auto;
  float: none;
  width: 18rem;
  margin-bottom: 10px;
  margin-top: 25px;
  padding: none;
  box-shadow: none;
}


.cardImage[src$=".jpg"] {
  height: 180px;
  width: auto;
}

.cardImage.whiteImage {
/* background-color: black; */
filter: brightness(0.5);
}

.cardImage[src$=".png"] {
  height: 180px;
  width: auto;
  padding-left: 15%;
  padding-right: 15%
}


.carousel-icons {
  color : red;
}


