body{
  background-color: #E3DAC9;
}

/* :root {
    --angle: 45deg;
    --opacity: 0.5;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .rainbow {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 2rem;
    margin: auto;
  
    display: grid;
    place-content: center;
    text-align: center;
  
    font-size: 1.5em;
  
    --border-size: 0.3rem;
    border: var(--border-size) solid transparent;
  
    /* Paint an image in the border
    border-image: conic-gradient(
        from var(--angle),
        #1f1f24 0deg 45deg,
        #FFD700 45deg 90deg,
        #1f1f24 90deg 135deg,
        #FFD700 135deg 180deg,
        #1f1f24 180deg 225deg,
        #FFD700 225deg 270deg,
        #1f1f24 270deg 315deg,
        #FFD700 315deg 360deg
      )
      1 stretch;
    background: rgb(255 255 255 / var(--opacity));
  }
  
  /** show a warning in browers that don't support it 
  .warning {
    margin: 2em;
    padding: 1em;
    border: 1px solid #ccc;
  }
  .warning p {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  /* Animate when Houdini is available 
  @supports (background: paint(houdini)) {
    @property --opacity {
      syntax: "<number>";
      initial-value: 0.5;
      inherits: false;
    }
  
    @property --angle {
      syntax: "<angle>";
      initial-value: 0deg;
      inherits: false;
    }
  
    @keyframes opacityChange {
      to {
        --opacity: 1;
      }
    }
  
    @keyframes rotate {
      to {
        --angle: 360deg;
      }
    }
  
    .rainbow {
      animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
    }
  
    /* Hide the warning 
    .warning {
      display: none;
    }
  } */

#container h4{
  font-size: 36px;
  font-weight: bold;
  
}

.card {
  display: flex;
  margin: 0 auto;
  float: none;
  width: 18rem;
  border: none;
  margin-bottom: 10px;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.cardImage[src$=".jpg"] {
  height: 180px;
  width: auto;
}

.cardImage.whiteImage {
/* background-color: black; */
filter: brightness(0.5);
}

.cardImage[src$=".png"] {
  height: 180px;
  width: auto;
  padding-left: 15%;
  padding-right: 15%
}

.button{
  
}




